<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id="addOne" parameterType="java.util.HashMap">
		insert into board values(board_seq.nextval,#{writer}, #{title}, #{content}, 0, sysdate)
	</insert>
	<select id="readAll" resultType="java.util.HashMap">
		select * from board b left join
		(select parent, count(*) c from reply group by parent) p on b.num = p.parent order by b.num desc
	</select>
	<select id="readOne" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from board where num=#{num}
	</select>
</mapper>