<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addMember" parameterType="java.util.HashMap">
		insert into member values(#{id},#{pass},#{email})
	</insert>
	<insert id="addDetail" parameterType="java.lang.String">
		insert into detail(id) values(#{id})
	</insert>
	<select id="idCheck" resultType="java.lang.Integer">
		select count(*) from member where id=#{id}
	</select>
	<select id="emailCheck" resultType="java.lang.Integer">
		select count(*) from member where email=#{email}
	</select>
	<select id="loginCheck" resultType="java.lang.Integer">
		select count(*) from member where (id=#{id} or email=#{id}) and pass=#{pass, jdbcType=VARCHAR}
	</select>
	<select id="getDetail" resultType="java.util.HashMap">
		select * from detail where id=#{id}
	</select>
	<update id="updateDetail" parameterType="java.util.HashMap">
		update detail set name=#{name}, gender=#{gender}, birth=#{birth}, address=#{address} where id=#{id}
	</update>
	<insert id="addProfile" parameterType="java.util.HashMap">
		insert into profile values(profile_seq.nextval, #{id}, #{url}, sysdate)
	</insert>
	<select id="getProfile" resultType="java.util.HashMap">
		select * from(select * from profile where id=#{id} order by regdate desc) where rownum=1
	</select>
</mapper>