<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="research">
	<select id="scoreCount" resultType="java.util.HashMap">
		select score||'점' as score, count(*) as cnt from research group by score order by score asc
	</select>
</mapper>